@model SoftIT.CRM.Models.ProjectPart

<div>
    <fieldset>
        <legend>@T("New project")</legend>

        <div class="editor-label">@Html.LabelFor(model => model.Price)</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">@Html.LabelFor(model => model.Procurer)</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Procurer)
            @Html.ValidationMessageFor(model => model.Procurer)
        </div>

        <div class="editor-label">@Html.LabelFor(model => model.Deadline)</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Deadline)
            @Html.ValidationMessageFor(model => model.Deadline)
        </div>

        <div class="editor-label">@Html.LabelFor(model => model.Status)</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        @T("Tasks: {0}", Model.Tasks.Count())
    </fieldset>
</div>







